<div class="commentSection" id="commentOutput">
    {% for c in blog.comment %}
        <div class="col-sm-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>{{ c.user.getNameUser }}</strong>
                    <span class="text-muted">commented {{ c.date|date('d-m-y H:i') }}</span></div>
                <div class="panel-body">
                    <p>{{ c.text }}</p>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
<div class="form-group">
    <div class="col-sm-5">
        <div class="panel panel-default">
            {% if is_granted('ROLE_USER') %}
                <form action="{{ path('addComment', {'blog_Id': blog.id }) }}" method="POST"
                      class="pull-right" id="form">
                    <input placeholder="Write a response" id="Commenttext" class="form-control" type="text"
                           name="commentText">
                </form>
            {% endif %}
        </div>
    </div>
</div>