<!DOCTYPE html>
<html>
<head>
    {% include 'partials/metadata.html.twig' %}
    {% block javascripts %}
        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    {% endblock %}
</head>
<body>
{% include 'partials/nav.html.twig' %}
{% block body %}
{% endblock %}
</body>
</html>
