{% extends 'base.html.twig' %}
{% block body %}
    <h1>Take a look at our inspiring stories</h1>
    {% for flashMessage in app.session.flashbag.get('success') %}
        {{ flashMessage }}
    {% endfor %}
    <ul id="catList">
        {% for cat in category %}
            <li id="category"><a href="{{ path('category_page', {'categoryId': cat.id}) }}">{{ cat.name }}</a></li>
        {% endfor %}
    </ul>
    {% include 'partials/blogview.html.twig' %}
{% endblock %}
