{% extends 'base.html.twig' %}
{% block body %}
    <h1>Take a look at our inspiring stories</h1>
    {% for flashMessage in app.session.flashbag.get('success') %}
        {{ flashMessage }}
    {% endfor %}
    {% include 'partials/blogview.html.twig' %}
{% endblock %}
